body {
    background: url(https://storage.googleapis.com/portfolio-50b24.appspot.com/backgrounds/cb1c95dffd9c7061e71be2382fdd345c1653814347583.jpeg);
}

.header__h3 {
    font-size: 4rem;
    font-style: italic;
    margin: 0;
}

.header__ul {
    list-style: none;
}

.header__span {
    font-size: 2rem;
}

.header__span:first-child {
    text-transform: uppercase;
    font-weight: bolder;
}

.header__span:last-child {
    font-style: italic;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.figure {
    margin: .1rem;
}

.d-none {
    display: none;
}

.active {
    outline: solid red .2rem;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.figure__img {
    width: 15rem;
    height: 15rem;
}

@media (max-width: 502px) {
    .figure__img {
        width: 10rem;
        height: 10rem;
    }
}